<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="highlightex" converterClass="auxlib.log.LogbackColouredHighlighter" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%highlightex([%-5p]) %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
